@import "@/app/styles/mixins";

.scoreboardTitle {
  margin-bottom: varSize(20);
  font-size: varSize(35);
}

.scoreboardItem {
  display: flex;
  justify-content: space-between;
  width: varSize(250);
  margin-bottom: varSize(5);
  font-size: varSize(20);
}
