@use "sass:math";
@import "@/app/styles/mixins";

.letter {
  --w: 60px;
  width: var(--w);
  height: var(--w);
  margin: 0 varSize(5);
  text-align: center;
  line-height: var(--w);
  border: 3px solid rgb(38, 38, 38);
  border-radius: 25%;
  font-size: varSize(30);
  box-sizing: content-box;
}

.green {
  background-color: forestgreen;
}

.yellow {
  background-color: goldenrod;
}
