@use "sass:math";
@import "@/app/styles/mixins";

$size: varSize(60);

.letter {
  width: $size;
  height: $size;
  margin: 0 varSize(5);
  text-align: center;
  line-height: $size;
  border: 3px solid rgb(38, 38, 38);
  border-radius: 25%;
  font-size: varSize(30);
  box-sizing: content-box;
}

.green {
  background-color: forestgreen;
}

.yellow {
  background-color: goldenrod;
}
