@use "sass:math";
@import "@/app/styles/mixins";

$size2: varSize(60);

.letter {
  position: relative;
  width: $size2;
  height: $size2;
  margin: 0 varSize(5);
  text-align: center;
  line-height: $size2;
  border: 3px solid rgb(38, 38, 38);
  border-radius: math.div($size2, 4);
  font-size: varSize(30);
  box-sizing: content-box;
  background-color: rgb(37, 37, 37);
}

.green {
  background-color: forestgreen;
}

.yellow {
  background-color: goldenrod;
}

@import "@/app/styles/mixins";

.black {
  color: black;
  background-color: rgb(17, 17, 17);
}

.score {
  opacity: 0;
  position: absolute;
  top: varSize(-42);
  left: varSize(8);
  font-weight: bold;
  color: white;
}

.greenScore {
  color: forestgreen;
}

.yellowScore {
  color: goldenrod;
}
