.entryContainer {
  margin-top: 20px;
  font-size: 30px;
  align-self: stretch;
  display: flex;
  justify-content: space-between;

  input {
    margin-right: 5px;
    font-size: 30px;
  }

  button {
    font-size: 30px;
  }
}
