@import "@/app/styles/mixins";

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 3rem 0;
  background-color: #18181b;
  color: white;
  height: 100%;
}

.link {
  margin-top: varSize(30);
  text-decoration: underline;
}

.footer {
  margin-top: varSize(-40);
  font-size: varSize(24);
  padding-bottom: varSize(60);
}
