@import "@/app/styles/mixins";

.entryContainer {
  margin-top: varSize(20);
  font-size: varSize(30);
  align-self: stretch;
  display: flex;
  justify-content: space-between;

  input {
    margin-right: varSize(5);
    font-size: varSize(30);
    padding: varSize(5);
  }

  button {
    font-size: varSize(30);
    cursor: pointer;
    padding: varSize(5);
  }
}
