@import "@/app/styles/mixins";

.letter {
  --w: 100px;
  width: var(--w);
  padding-top: var(--w);
  border: ridge 3px white;
  border-radius: 15%;
  position: relative;
  &:not(:last-child) {
    margin-right: varSize(20);
  }
}

.text {
  font-size: varSize(60);
  line-height: varSize(60);
  position: absolute;
  top: calc(50% - varSize(30));
  width: 100%;
  left: 0;
  text-align: center;
}
.green {
  background-color: forestgreen;
}
